{% extends 'base.html' %}



{% block head %}
{% endblock %}



{% block body %}

<div class="displayContainer">
    <h1>RankMe</h1>

    <div class="entryContainer">
        <input id="entryText" type="text" placeholder="Add something to rank..." required>
    </div>

    <div class="inputContainer">
        <p id="inputText"></p>
    </div>

    <div class="buttonContainer">
        <div class="addContainer">
            <button class="" id="addBtn" type="button" onclick="addEntry();">ADD</button>
        </div>

        <div class="clearContainer">
            <button class="" id="clearBtn" type="button" onclick="clearBox('inputText')">CLEAR</button>
        </div>
    </div>

    <div class="startContainer">
        <a href="/sorter" id="sortPage">
          <button class="" id="startBtn" type="button">START</button>
        </a>
    </div>

</div>

<script src="static/js/index.js"></script>

{% endblock %} 