{% extends 'base.html' %}



{% block head %}
<title>Rank Mii</title>
{% endblock %}



{% block body %}
<div class="displayContainer">
    <div class="titleContainer">
        <h2>Time to Rank</h2>
    </div>
    <div class="sortTable">
        <div class="choiceContainer" id="leftContainer">
            <button class="" id="leftBtn" type="button" onclick="getLeft();"></button>
        </div> 
        <div class="vsContainer">
            <p id='vs'>VS</p>
        </div>
        <div class="choiceContainer" id="rightContainer">
            <button class="" id="rightBtn" type="button" onclick="getRight();"></button>  
        </div>
    </div>
    <div class="instructionContainer">
        <p id='description'>Click on the one you prefer and we'll show you your results on the next page!</p>
    </div>
</div>

<script type="text/javascript" src="static/js/sorter.js"></script>  

{% endblock %}