{% extends 'base.html' %}



{% block head %}
<title>Rank Mii</title>
{% endblock %}



{% block body %}
<div class="displayContainer">
    <div class="titleContainer">
        <h2>Time to Rank</h2>
    </div>
    <div class="sortTable">
        <div class="choiceContainer" id="leftBox">
            <button class="" id="" type="button"></button>
        </div> 
        <div class="vsContainer">
            <p id='vs'>VS</p>
        </div>
        <div class="choiceContainer" id="rightBox">
            <button class="" id="" type="button"></button>  
        </div>
    </div>
    <div class="instructionContainer">
        <p id='description'>Click on the one you prefer and we'll show you your results on the next page!</p>
    </div>
</div>
{% endblock %}